* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
  }

  h2 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
  }
  
  button {
    padding: 12px;
    background-color: #f6f6f6;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat";
    border: 2px solid rgb(32, 31, 31);
    margin-bottom: 10px;
    width: 90px;
    margin: auto;
    border-radius: 3px;
    background-color: rgba(255, 0, 238, 0.708);
    color: white;
    font-weight: bold;
  }

  input {
    width: 270px;
    padding: 7px 0;
    padding-left: 4px;
  }
  
  /* div {
    width: 200px;
    height: 200px;
  } */
  